
   body {
    background-image: url(https://dl.dropboxusercontent.com/u/76298217/homework1.png);
   }
  h1{
   font-size: 36px;
  	font-family: Arial;
  text-align: center:
  }
 p { 
    font-size: 18px; 
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   text-align: left;
 }
   .brd {
   	border-bottom: 1px solid ;
   	width: 500px; margin: auto;
   	;
   }

  ul{
   width: 500px; 
   margin: auto;
 }